.client {
  display: flex;
  justify-content: space-around;
}

.feedbackBlock {
  width: 50%;
  text-align: left;
}
.clientInfo::before {
  content: url(../../../assets/instagramOrange.png);
  margin-right: 10px;
  position: relative;
  top: 5px;
}
