.feedbackContainer {
  height: 711px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feedback {
  width: 75%;
  height: 50%;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 100% -10%;
  background-color: #dff5f6;
  border-radius: 20px;
}
.feedback::before {
  content: url(../../assets/hearts.png);
  position: absolute;
  left: 81.5%;
  top: 3020px;
}
.feedbackContainer h2 {
  font-weight: bold;
  font-size: 43px;
  line-height: 53px;
}
.feedbackContainer h3 {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
}
