.header {
  height: 70px;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  align-items: center;
  font-size: 14px;
}

.button button {
  width: 150px;
  height: 38px;
}

.logo img {
  width: 100px;
}
