.step{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:357px;
    margin: 20px;
}
.photo img{
    height: 192px;
}
h3{
    color: #6F1EAA;
    font-weight: normal;
    font-size: 24px;

}